/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url("/images/backgroundAssets/portfolio_side_left.png"), url("/images/backgroundAssets/portfolio_side_right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-attachment: fixed, fixed;
}

/* Navbar */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: sticky;
}

.topnav > a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 4px 4px 4px;
}

.topnav > a:hover {
  background-color: #ddd;
  color: black;
}

.topnav > a.active {
  background-color: #ebdb07;
  color: #333;
  margin: 4px 4px 4px 4px;
  font-weight: bolder;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown > .dropbutton {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 4px 4px 4px 4px;
}

.dropdown:hover > .dropbutton {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content > a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content > a:hover {
  background-color: #ddd;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

#showcaseItem {
    border: 4px solid black;
    border-radius: 5px;
    background-color: rgba(237, 237, 237, 0.6);
    margin-bottom: 25px;
    padding: 0px 60px 0px 60px;
    margin: 20px auto;
    width: 70%;
}

#showcaseItem > p {
    margin-top: 25px;
    font-size: clamp(0.9rem, 1.5vw, 1.4rem);
}

#showcaseItem > h1 {
    text-decoration: underline;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
}

.column > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 760px) {
  .column {
    width: 100%;
    font-size: clamp(0.7rem, 1.5vw, 1.1rem);
  }
}

/*Friends of James Jokers */
table {
    border: 4px solid black;
    width: 85vw;
    margin: auto;
    font-size: clamp(0.9rem, 1.5vw, 1.4rem);
    background-color: rgb(237, 237, 237);
    text-align: center;
    margin-top: 40px;
}

tr, th {
    border: 4px solid black;
}

tr > td:nth-child(1) {
    width: 20%;
    height: clamp(25vh, 1.5vw, 40vh);
}

tr > td:nth-child(2) {
    width: 25%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    vertical-align: middle;
    height: clamp(25vh, 1.5vw, 40vh);
}

tr > td:nth-child(3) {
    width: 40%;
    text-align: left;
    vertical-align: middle;
    height: clamp(25vh, 1.5vw, 40vh);
}

.common {
    background-color: dodgerblue;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

.uncommon {
    background-color: mediumseagreen;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

.illustrious > a, p > .illustrious {
    background-color: goldenrod;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

.bonus {
    color: blue;
}

.addmult {
    color: red;
}

.xmult {
    background-color: red;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

.highlight {
    color: darkgoldenrod;
}

.greyed {
    color: grey;
}

.chance {
    color: green;
}

.planet {
    color: darkcyan;
}

.spectral {
    color: darkblue;
}

.ability, .ability > a {
    background-color: darkmagenta;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

.joker {
    display: inline-block;
    margin: auto 6px;
    background-image: url("../images/friendsOfJames_JokersSheet.png");
    background-repeat: no-repeat;
    object-fit: contain;
    width: 142px;
    height: 190px;
}

.joker.salt {
    background-position: 0 0;
}

.joker.kerosene {
    background-position: -142px 0;
}

.joker.earner {
    background-position: -284px 0;
}

.joker.pomegranete {
    background-position: -426px 0;
}

.joker.reciept {
    background-position: -568px 0;
}

.joker.daredevil {
    background-position: -710px 0;
}

.joker.canvas {
    background-position: 0 -190px;
}

.joker.paintcanvas {
    background-position: -142px -190px;
}

.joker.callback {
    background-position: -284px -190px;
}

.joker.deal {
    background-position: -426px -190px;
}

.joker.sunk {
    background-position: -568px -190px;
}

.joker.arsonist {
    background-position: -710px -190px;
}

.joker.aftershock {
    background-position: 0 -380px;
}

.joker.planner {
    background-position: -142px -380px;
}

.joker.philosopher {
    background-position: -284px -380px;
}

.joker.fumes {
    background-position: -426px -380px;
}

.joker.cashback {
    background-position: -568px -380px;
}

.joker.first {
    background-position: -710px -380px;
}

.joker.crash {
    background-position: 0 -570px;
}

.joker.proso {
    background-position: -142px -570px;
}

.joker.scratch {
    background-position: -284px -570px;
}

.joker.desert {
    background-position: -426px -570px;
}

.joker.bird {
    background-position: -568px -570px;
}

.joker.tech {
    background-position: -710px -570px;
}

.joker.jestro {
    background-position: 0 -760px;
}

.joker.sandwich {
    background-position: -142px -760px;
}

.joker.cito {
    background-position: -284px -760px;
}

.joker.blockhead {
    background-position: -426px -760px;
}

.joker.void {
    background-position: -568px -760px;
}

.joker.latte {
    background-position: -710px -760px;
}

.joker.solstice {
    background-position: 0 -950px;
}

.joker.keksi {
    background-position: -142px -950px;
}

.joker.moki {
    background-position: -284px -950px;
}

.joker.claire {
    background-position: -426px -950px;
}

.joker.tytsune {
    background-position: -568px -950px;
}

.joker.reiko {
    background-position: -710px -950px;
}