/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    background-image: url("../images/backgroundAssets/portfolio_side_left.png"), url("../images/backgroundAssets/portfolio_side_right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-attachment: fixed, fixed;
}

div > h1 {
  text-align: center;
  text-decoration: dashed;
}

/* Navbar */
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav > a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 4px 4px 4px;
}

.topnav > a:hover {
  background-color: #ddd;
  color: black;
}

.topnav > a.active {
  background-color: #ebdb07;
  color: #333;
  margin: 4px 4px 4px 4px;
  font-weight: bolder;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown > .dropbutton {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 4px 4px 4px 4px;
}

.dropdown:hover > .dropbutton {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content > a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content > a:hover {
  background-color: #ddd;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

/* Showcase Tab */
#showcaseItem {
    border: 4px solid black;
    border-radius: 5px;
    background-color: rgba(237, 237, 237, 0.6);
    margin-bottom: 25px;
    padding: 0px 60px 0px 60px;
    margin: 20px auto;
    width: 70%;
}

#showcaseItem > h2 {
  text-decoration: underline;
  text-align: center;
}

#showcaseItem {
    margin-top: 25px;
    font-size: 16px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1150px) {
  .column {
    width: 100%;
    font-size: clamp(0.7rem, 1.5vw, 1.1rem);
  }

  .column > img {
    float: center;
  }
}

/* Contacts Tab */
#contactsContainer {
    border: 4px solid black;
    border-radius: 5px;
    font-size: clamp(16px, 2vw, 32px);
    background-color: rgba(237, 237, 237, 0.6);
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#contactsContainer > .columns > .column > h3, #contactsContainer > h2{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}

.contact {
    display: inline-block;
    text-align: center;
    background-image: url("../images/contact_sprites.png");
    background-repeat: no-repeat;
    object-fit: contain;
    width: 64px;
    height: 64px;
}

.contact.linkedin {
    background-position: 0 0;
}

.contact.youtube {
    background-position: -64px 0;
}

.contact.github {
    background-position: -128px 0;
}

.contact.itch {
    background-position: -192px 0;
}

.soloImage {
    position: relative;
    width: 100%;
}

* {box-sizing: border-box}
.slideshow1, .slideshow2, .slideshow3, .slideshow4, .slideshow5, .slideshow6 {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
}

.slideshow1 > img, .slideshow2 > img, .slideshow3 > img, .slideshow4 > img, .slideshow5 > img, .slideshow6 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(35, 35, 35, 0.8);
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(82, 82, 82, 0.8);
}