body {
    background-color: white;
}

a.segment {
    border: 2px solid turquoise;
    border-radius: 5px;
    background-color: darkseagreen;
}

.soloImage {
    position: relative;
    min-width: 300px;
    width: 90%;
    margin: auto;
}

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  min-width: 300px;
  width: 50%;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

#showcaseItem {
    border: 4px solid black;
    border-radius: 5px;
    background-color: rgb(237, 237, 237);
    margin-bottom: 25px;
    padding: 50px;
}

#showcaseItem > p {
    margin-top: 25px;
    font-size: 16px;
}

footer {
    padding-bottom: 25px;
}

/*Friends of James Jokers */
table {
    border: 3px solid black;
    width: 85vw;
    margin: auto;
    font-size: clamp(1rem, 1.5vw, 2rem);
    text-align: center;
    margin-top: 40px;
}

tr, th {
    border: 3px solid black;
}

tr > td:nth-child(1) {
    width: 20%;
    height: clamp(25vh, 1.5vw, 40vh);
}

tr > td:nth-child(2) {
    width: 25%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    vertical-align: middle;
    height: clamp(25vh, 1.5vw, 40vh);
}

tr > td:nth-child(3) {
    width: 40%;
    text-align: left;
    vertical-align: middle;
    height: clamp(25vh, 1.5vw, 40vh);
}

.common {
    background-color: dodgerblue;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

.uncommon {
    background-color: mediumseagreen;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

.illustrious > a, p > .illustrious {
    background-color: goldenrod;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

.bonus {
    color: blue;
}

.addmult {
    color: red;
}

.xmult {
    background-color: red;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

.highlight {
    color: darkgoldenrod;
}

.greyed {
    color: darkgray;
}

.chance {
    color: green;
}

.planet {
    color: darkcyan;
}

.spectral {
    color: darkblue;
}

.ability, .ability > a {
    background-color: darkmagenta;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

.joker {
    display: inline-block;
    margin: auto 6px;
    background-image: url("../images/friendsOfJames_JokersSheet.png");
    background-repeat: no-repeat;
    object-fit: contain;
}

.joker.salt {
    width: 142px;
    height: 190px;
    background-position: 0 0;
}

.joker.kerosene {
    width: 142px;
    height: 190px;
    background-position: -142px 0;
}

.joker.earner {
    width: 142px;
    height: 190px;
    background-position: -284px 0;
}

.joker.pomegranete {
    width: 142px;
    height: 190px;
    background-position: -426px 0;
}

.joker.reciept {
    width: 142px;
    height: 190px;
    background-position: -568px 0;
}

.joker.daredevil {
    width: 142px;
    height: 190px;
    background-position: -710px 0;
}

.joker.canvas {
    width: 142px;
    height: 190px;
    background-position: 0 -190px;
}

.joker.paintcanvas {
    width: 142px;
    height: 190px;
    background-position: -142px -190px;
}

.joker.callback {
    width: 142px;
    height: 190px;
    background-position: -284px -190px;
}

.joker.deal {
    width: 142px;
    height: 190px;
    background-position: -426px -190px;
}

.joker.sunk {
    width: 142px;
    height: 190px;
    background-position: -568px -190px;
}

.joker.arsonist {
    width: 142px;
    height: 190px;
    background-position: -710px -190px;
}

.joker.aftershock {
    width: 142px;
    height: 190px;
    background-position: 0 -380px;
}

.joker.planner {
    width: 142px;
    height: 190px;
    background-position: -142px -380px;
}

.joker.philosopher {
    width: 142px;
    height: 190px;
    background-position: -284px -380px;
}

.joker.fumes {
    width: 142px;
    height: 190px;
    background-position: -426px -380px;
}

.joker.cashback {
    width: 142px;
    height: 190px;
    background-position: -568px -380px;
}

.joker.first {
    width: 142px;
    height: 190px;
    background-position: -710px -380px;
}

.joker.crash {
    width: 142px;
    height: 190px;
    background-position: 0 -570px;
}

.joker.proso {
    width: 142px;
    height: 190px;
    background-position: -142px -570px;
}

.joker.scratch {
    width: 142px;
    height: 190px;
    background-position: -284px -570px;
}

.joker.desert {
    width: 142px;
    height: 190px;
    background-position: -426px -570px;
}

.joker.bird {
    width: 142px;
    height: 190px;
    background-position: -568px -570px;
}

.joker.tech {
    width: 142px;
    height: 190px;
    background-position: -710px -570px;
}

.joker.jestro {
    width: 142px;
    height: 190px;
    background-position: 0 -760px;
}

.joker.sandwich {
    width: 142px;
    height: 190px;
    background-position: -142px -760px;
}

.joker.cito {
    width: 142px;
    height: 190px;
    background-position: -284px -760px;
}

.joker.blockhead {
    width: 142px;
    height: 190px;
    background-position: -426px -760px;
}

.joker.void {
    width: 142px;
    height: 190px;
    background-position: -568px -760px;
}

.joker.latte {
    width: 142px;
    height: 190px;
    background-position: -710px -760px;
}

.joker.solstice {
    width: 142px;
    height: 190px;
    background-position: 0 -950px;
}

.joker.keksi {
    width: 142px;
    height: 190px;
    background-position: -142px -950px;
}

.joker.moki {
    width: 142px;
    height: 190px;
    background-position: -284px -950px;
}

.joker.claire {
    width: 142px;
    height: 190px;
    background-position: -426px -950px;
}

.joker.tytsune {
    width: 142px;
    height: 190px;
    background-position: -568px -950px;
}

.joker.reiko {
    width: 142px;
    height: 190px;
    background-position: -710px -950px;
}